.slide-down {
  transition: opacity 0.15s ease, transform 0.15s ease;
}

.slide-down-exit {
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1), transform 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-down-enter,
.slide-down-exit-active {
  opacity: 0;
  transform: translateY(10px);
}
