@import "~@hiendv/bem-sass";
@import "./base.module";

$color: #e6e6e6;
$color--active: #fff;
$border-color: darken($color, 40%);
$border-color--hover: $color;
$border-color--active: $color--active;
$border-width: 2px;

.items {
  border-bottom: $border-width solid $border-color;
}

.item {
  color: $color;
  border-bottom: $border-width solid $border-color;
  margin-bottom: -$border-width;

  &:hover {
    border-color: $border-color--hover;
  }

  @include m("active") {
    color: $color--active!important;
    border-color: $border-color--active!important;
  }
}

.panel {
  color: $color--active;
}
