@import "~@hiendv/bem-sass";
@import "./base-metro";

$color: rgba(0, 0, 0, .82);
$color--active: #7e3878;
$border-color: rgba(0, 0, 0, .12);
$hover-color: rgba(0, 0, 0, .08);

.items {
  border-color: $border-color;
}

.item {
  color: $color;

  &:hover {
    background: $hover-color;
  }

  &:after {
    background: $color--active;
  }

  @include m("active") {
    background: $color--active !important;
    color: white;
  }
}

.panel {
  color: $color;
}
